--extra-index-url https://download.pytorch.org/whl/cpu

streamlit==1.39.0
transformers==4.44.2
tokenizers==0.19.1
torch==2.5.1+cpu
sentencepiece==0.2.1
accelerate==1.11.0
einops==0.8.1
trafilatura==1.6.1
beautifulsoup4==4.14.2
requests==2.32.5
